HOST=0.0.0.0
PORT=1337
PUBLIC_URL=http://localhost:1337
IS_PROXIED=true
CORS_ORIGINS=http://localhost:3000,http://localhost:1337,https://elmbsol.vercel.app

APP_KEYS="replace-me-1,replace-me-2,replace-me-3,replace-me-4"
API_TOKEN_SALT=replace-me
ADMIN_JWT_SECRET=replace-me
TRANSFER_TOKEN_SALT=replace-me
JWT_SECRET=replace-me
ENCRYPTION_KEY=replace-me

DATABASE_CLIENT=sqlite
DATABASE_URL=
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_NAME=strapi
DATABASE_USERNAME=strapi
DATABASE_PASSWORD=strapi
DATABASE_SCHEMA=public
DATABASE_SSL=false
DATABASE_SSL_REJECT_UNAUTHORIZED=false
DATABASE_POOL_MIN=0
DATABASE_POOL_MAX=10
DATABASE_FILENAME=.tmp/data.db

CLOUDINARY_NAME=
CLOUDINARY_KEY=
CLOUDINARY_SECRET=
